.cel {
    padding-right: 100px;
    border-top: none;
    border-radius: 2px;
    margin-left: 0px;
  }

  .ant-card .ant-card-head {
    border-bottom: 2px solid #f0f0f0;
  }
  .card-title {
    display: flex;
  }
  .card-name {
    margin-top: 5px;
  }
  .zipcode-input {
    width: 60%;
    margin-left: 90px;
    height: 28px;
    margin-top: 2px;
  }

  .cardHeader {
    border-width: 3px;
  }
  .divider {
    border-width: 3px;
  }
  .editEffect {
    cursor: pointer;
    float: right;
  }

  .valid{
    color:green;
    text-align: center;
    padding: 2px;
    margin-bottom: 15px;
    width: 100%;
  }

  .invalid{
    color:red;
    text-align: center;
    padding: 2px;
    margin-bottom: 15px;
    width: 100%;
  }

  .redirectmsg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 15px;
    font-weight: bold;
  }
